body{
  font-size: x-large;
}

.hide {
  border: 1px solid black;
  margin: 5px;
}

.show {
  margin: 5px;
}

.checked {
  text-decoration: line-through;
}

.highScore {
  background-color: chartreuse;
}

.mediumScore {
  background-color: rgb(216, 216, 67);
}

.lowScore {
  background-color: tomato;
}
