* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-size: x-large;
  /* width: 100vw;
  height: 100vh; */
}

.game-container {
  max-width: 100vw;
  max-height: 100vh;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 1fr 3fr 1fr;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letters-container {
  padding: 7px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.solution-container {
  grid-column: 2;
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.letter {
  background-color: rgb(66, 184, 221);
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 3px;
  border: solid black 0.5px;
  box-shadow: 3px 3px gray;
  border-radius: 7px;
  cursor: pointer;
}

.word {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.hangman {
  width: 90%;
  height: 90%;
  text-align: center;
}

.hangman img {
  width: 100%;
  height: 100%;
}

.show {
  background-color: #10ddc2;
  cursor: default;
}

.hide {
  background-color: #15b7b9;
  cursor: default;
}

.checked {
  background-color: #757575;
  box-shadow: none;
  cursor: default;
}

.highScore {
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
  background-color: #2eb872;
}

.mediumScore {
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
  background-color: #f9ed69;
}

.lowScore {
  text-align: center;
  border-radius: 5px;
  box-shadow: 3px 3px gray;
  background-color: #fa4659;
}

.end-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.back-container {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-container button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
