* {
  margin: 0;
  padding: 0;
}

body {
  font-size: x-large;
  /* width: 100vw;
  height: 100vh; */
}

.game-container {
  width: 100vw;
  height: 100vh;
  /* padding: 10px; */
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 1fr 3fr 1fr;
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.letters-container {
  padding: 7px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.solution-container {
  grid-column: 2;
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.letter {
  background-color: rgb(66, 184, 221);
  height: 40px;
  width: 40px;
  text-align: center;
  margin: 3px;
  border: solid black 0.5px;
  box-shadow: 3px 3px gray;
  border-radius: 7px;
}

.word {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.show {
  background-color: #10ddc2;
}

.hide {
  background-color: #15b7b9;
}

.checked {
  text-decoration: line-through;
  background-color: crimson;
}

.highScore {
  background-color: chartreuse;
}

.mediumScore {
  background-color: rgb(216, 216, 67);
}

.lowScore {
  background-color: tomato;
}

.end-game {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.back-container {
  font-size: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.back-container button{
  background-color: transparent;
  border: none;
}


